body
    margin 0
    overflow-x hidden

.app-container
    display flex
    flex-direction column

.app-content
    display flex
    justify-content center
    align-items center
    height 500px
    font-size 40px
    font-weight bold